@import "palette"
@import "text"

body
  background-color: $color_sitebg
  color: $color_text
  font-size: $size_font

.content
  margin-top: 8%
  padding: 0px

@import "nav_desktop"
@import "home_desktop"
@import "login_desktop"
