$color_primary: #0D0B0A
$color_secondary: #454955
$color_tertiary: #82D173
$color_text: white

$color_sitebg: $color_primary
$color_contentbg: $color_secondary
$color_contentshadow: #A799B7
$color_navbg: $color_secondary
$color_navfg: $color_text
$color_navitembg: $color_navbg
$color_navhoverbg: $color_tertiary
$color_navhoverfg: $color_sitebg
